#blog {
	text-align: center;
	max-width: 90%;
	margin: auto;
}



.blog_title {
	text-align: center;
	font-size: 36px;
	max-width: 70%;
	margin: 30px auto 40px auto;
	font-weight: bold;
}

.blog_text {
	text-align: left;
	font-size: 20px;
	max-width: 70%;
	margin: 30px auto 40px auto;
}

.blog_section {
	text-align: left;
	font-size: 24px;
	max-width: 70%;
	margin: 30px auto 20px auto;
	font-weight: bold;
}

.blog_subsection {
	text-align: left;
	font-size: 20px;
	max-width: 70%;
	margin: 30px auto 20px auto;
	font-weight: bold;
}

.blog_caption {
	text-align: left;
	font-size: 20px;
	max-width: 70%;
	margin: 10px auto 40px auto;
}

.blog_author {
	text-align: right;
	font-size: 20px;
	max-width: 70%;
	margin: 10px auto 40px auto;
}

.code {
	text-align: left;
	max-width: 70%;
	margin: 0px auto 0px auto;
	padding: 1em;
	font-size: 0.9em;
	font-family: 'Courier New', Courier, monospace;
	background-color: lightgray;
	border-radius: 0.5em;
}

.code-inline {
	display: inline;
	font-size: 0.8em;
	font-family: 'Courier New', Courier, monospace;
	padding: 0.25em;
	background-color: lightgray;
	border-radius: 0.5em;
}