.hoverable-image:hover {
	opacity: 0.7;
	transition: opacity .2s ease-in-out;
}

#team-description {
	font-size: 24px;
	max-width: 1000px;
	margin: 0 auto 70px auto;
}

.member {
	vertical-align: text-top;
	display: inline-block;
	position: relative;
	margin-left: 50px;
	margin-right: 50px;
	height: 300px;
	margin-top: 40px;
}

.member a {
	text-decoration: none;
	color: inherit;
}

.member p {
	font-size: 24px;
	margin: 5px auto;
	position: relative;
	text-align: center;
}

.member img {
	height: 200px;
	padding-bottom: 20;
	border-radius: 50%;
}

.exec_board_cont {
	max-width: min(1200px, 100%);
	margin: 0 auto 40px auto;
}

.project {
	vertical-align: text-top;
	display: inline-block;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
	height: 400px;
	margin-top: 30px;
}

.project img {
	object-fit: contain;
	height: 300px;
	max-width: min(300px, 100%);
	padding-bottom: 20;
}

.project a {
	text-decoration: none;
	color: inherit;
}

.project_txt {
	font-size: 24px;
	margin: 10px auto;
	position: relative;
	width: 250px;
	text-align: center;
}

.projects_cont {
	max-width: min(1400px, 100%);
	margin: 0 auto 0 auto;
}

.sponsor {
	margin: 25px 50px;
	display: inline-block;
	vertical-align: middle;
	width: 200px;
}

.sponsor img {
	width: 100%;
}

.sponsors_cont {
	max-width: min(1400px, 100%);
	margin: 0 auto 40px auto;
}

.rec_blog_cont {
	max-width: 100%;
	margin: 0 auto 0 auto;
}

.rec_blog {
	margin: 25px 50px;
	display: inline-block;
	vertical-align: top;
	max-width: min(700px, 100%);
}

.rec_blog a {
	text-decoration: none;
	color: inherit;
}

.rec_blog_title {
	margin: 0px auto;
	position: relative;
	font-size: 28px;
	text-align: center;
}

.rec_blog_date {
	margin-bottom: 10px;
	position: relative;
	font-size: 20px;
	text-align: center;
}

.rec_blog_text {
	margin: 10px auto;
	position: relative;
	font-size: 16px;
	text-align: justify;
}

.rec_blog img {
	max-width: 100%;
	padding-bottom: 20;
}

#join {
	width: 100%;
	text-align: center;
}

.twitter {
	vertical-align: text-top;
	display: inline-block;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
	height: 300px;
	margin-top: 40px;
}

#partners {
	margin-top: 100px;
}

#motto {
	font-size: 86px;
	font-weight: bold;

	position: relative;
	overflow: hidden;
	padding: 1em 0.5em 1em 0.5em;

	background: linear-gradient( rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.6) ),
				#EFEFEF url("/res/home/banner.jpg") center / cover no-repeat;
}

#motto p {
	max-width: min(1200px, 100%);
	margin: auto;
	margin-bottom: 0.5em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 0.3em;
}

@media screen and (max-width: 480px) {
	#motto {
		font-size: 15vw;
	}
}

.line-highlight {
	display: inline;
	color: white;

	/* Enable for by-line highlighting */
	/* line-height: 1.5em;
	background-color: rgba(0, 0, 0, 0.5); */
}

#join-link {
	background: rgba(10, 48, 78, 0.7);
	color: white;
	text-align: center;
	transition: background-color .2s ease-in-out;
	border-radius: 15px;
	position: relative;
	display: block;
	width: fit-content;
	margin: auto;
	text-decoration: none;
	padding: 0.2em;
}

#join-link:hover {
	background-color: rgba(10, 48, 78, 0.9);
}