.image {
	margin 		: 4%;
	font-style 	: italic;
	text-align 	: center;
}

#quick-links {
	text-align 	: center;
}

.image > img{
	margin 		: 0;
	width 		: 100%;
	border 		: 1px solid lightgray;
}
.caption {
	font-size 	: 0.8em;
}