* {
    box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	background-color: #EFEFEF;
	color: black;
	margin: 0;
}

a {
	color: #333333;
}

.hd {
	font-size: 50px;
	margin-bottom: 20px;
	text-align: center;
}

.subhd {
	font-size: 35px;
	margin-bottom: 20px;
	text-align: center;
}

a.anchor {
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;
}

.division {
	border: 0;
	height: 1px;
	max-width: min(300px, 100%);
	margin: 0 auto 30px auto;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.topspace {
	height: 160px;
}

.content {
	max-width: min(1400px, 100%);
	margin-left: auto;
	margin-right: auto;
}

#footer {
	vertical-align: middle;
	border-top: 1px solid #888;
	width: 100%;
	text-align: center;
	font-size: 24px;
	margin: auto;
	margin-top: 50px;
	padding: 0;
	padding-top: 5px;
	list-style: none;
	background-color: #EFEFEF;
}

#footer li {
	display: inline-block;
	vertical-align: middle;
}

#footer a {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	transition: all .2s ease-in-out;
}

#contact a {
	text-decoration: none;
	color: #000000;
}

#footer a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#footer img {
	height: 48px;
}

#copyright {
	font-size: 18px;
}

nav {
	vertical-align: middle;
	z-index: 10;
	border-bottom: 1px solid #888;
	position: sticky;
	top: 0;
	width: 100%;
	max-width: 100%;
	text-align: center;
	font-size: 20px;
	margin: auto;
	padding: 0 10px 0 10px;
	list-style: none;
	background-color: #EFEFEF;
	/* overflow: hidden; */
}

#nav-title {
	max-width: 240px;
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	text-align: left;
}

#nav-links {
	display: inline-block;
	padding: 0;
	margin-top: 0;
}

#nav-links li {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

#nav-links > li > a {
	text-decoration: none;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
	color: #045184;
}

@media screen and (max-width: 957px) {
	#nav-title-name, #nav-title-desc {
		display: none;
	}
	#nav-logo {
		width: 80px;
	}
}

nav a:hover {
	color: #3588CC;
}

#nav-logo {
	max-width: 120px;
	display: inline-block;
	vertical-align: middle;
}

#nav-title-name {
	font-size: 30px;
	margin-bottom: 0;
	margin-top: 10px;
	margin-left: 0;
}

#nav-title-desc {
	font-size: 16px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 16px;
}

.dropdown {
	overflow: hidden;
}

.dropdown .dropbtn {
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content > a {
	/* float: none; */
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}


.dropdown:hover .dropdown-content {
	display: block;
}


.code {
	text-align: left;
	max-width: 70%;
	margin: 0px auto 0px auto;
	padding: 1em;
	font-size: 0.9em;
	font-family: 'Lucidia Console', Monaco, monospace;
	background-color: lightgray;
	border-radius: 0.5em;
}

.code-inline {
	display: inline;
	font-size: 0.8em;
	font-family: 'Lucidia Console', Monaco, monospace;
	padding: 0.25em;
	background-color: lightgray;
	border-radius: 0.5em;
}

ul.quicklinks {
	font-size: 1.5em;
	width: 30%;
	margin: 1em auto;
}