---
layout      : default
title       : "CWRUbotix — Home"
categories  : [index]
stylesheets : [index]
---

<a class="anchor" id="main"></a>
<div id="home">
  <img src="res/home/home.jpg" style="max-width:1200px;margin:0;"/>
  <div id="motto"><b>WE BUILD ROBOTS BECAUSE ROBOTS ARE AWESOME</b></div>
  <a href="join.html">
    <div id="join_btn"><p>Join Us</p></div>
  </a>
</div>

<a class="anchor" id="team"></a>
<div id="members">
  <p class="hd">About The Team</p>
  <div class="division"></div>
  <p style="font-size:24px;max-width:1200px;margin:0 auto 70px auto;">TEST</p>
  <img style="width: 100vw;" src="res/fullteam.jpg"/>
  <p class="hd">Executive Board</p>
  <div class="division" style="margin-bottom:30px"></div>
  <div class="exec_board_cont">
    {% include member_tiles.html %}

    <p style="font-size:24px;max-width:1200px;margin:0 auto 70px auto;">
    Learn more about our executive board <a href="members.html#exec">here</a>.
    </p>
  </div>
</div>

<a class="anchor" id="projects"></a>
<div id="whatwedo">
  <p class="hd">Projects</p>
  <div class="division"></div>
  <div class="projects_cont">
    <div class="project">
      <a href="nasa_rmc.html">
        <img src="res/nasarmc.png"/>
        <div class="project_txt"><b>NASA Robotic Mining Competition</b></div>
      </a>
    </div>
    <div class="project">
      <a href="mate_rov.html">
        <img src="res/MATE_ROV.png"/>
        <div class="project_txt"><b>MATE ROV Competition</b></div>
      </a>
    </div>
    <div class="project">
      <a href="nrc.html">
        <img src="res/nrc.png"/>
        <div class="project_txt"><b>National Robotics Challenge</b></div>
      </a>
    </div>
    <div class="project">
      <a href="bootcamp.html">
        <img src="res/bootcamp.jpg"/>
        <div class="project_txt"><b>Member Education Bootcamp</b></div>
      </a>
    </div>
  </div>
</div>

<!-- RECENT BLOG TILE -->
<a class="anchor" id="blog"></a>
<div id="blog_index">
  <p class="hd">Blog</p>
  <div class="division"></div>
  {% include recent_blog_tile.html %}
  <div class="rec_blog_cont">
    <a href="/blogs.html">
      <p class="rec_blog_title">
        View All Blog Posts
      </p>
    </a>
  </div>
</div>

<!-- SPONSORSHIP -->
<a class="anchor" id="sponsorship"></a>
<div id="sponsors">
  <p class="hd">Sponsors</p>
  <div class="division"></div>
  <div class="sponsors_cont">

    {% for sponsor in site.data.sponsors %}
    <div class="sponsor">
      <a href="{{sponsor.link}}" target="_blank">
        <img style="width: 300px;" src="{{sponsor.image}}" alt="{{sponsor.alt}}">
      </a>
    </div>
    {% endfor %}

  </div>
  <a class="btn" href="sponsorship.html">
    Interested in sponsoring?
  </a>
</div>

<a class="anchor" id="contact"></a>
