---
layout      : default
title       : "CWRUbotix — Home"
categories  : [index]
stylesheets : [index]
---

<a class="anchor" id="main"></a>
<section id="motto" class="full-width">
  <p>
    <span class="line-highlight">WE BUILD ROBOTS BECAUSE ROBOTS ARE AWESOME</span>
  </p>
  <a href="join.html" id="join-link">
    Join Us!
  </a>
</section>

<a class="anchor" id="team"></a>
<section id="team">
  <h1>About The Team</h1>
  <div class="division"></div>
  <p class="text-block center">
    We are CWRUbotix, Case Western Reserve University's robotics club.
    We like long walks on the beach (with robots), designing and building
    robots for a variety of robotics competitions, and engaging with the
    local STEM community. Our primary goal is to provide a learning environment
    for students interested in robotics, regardless of prior experience.
    We focus on teaching our members technical skills such as CAD modeling,
    circuit design, programming, and manufacturing. Currently we attend the
    MATE ROV competition and an assortment of National Robotics
    Challenges.
  </p>
  <img src="res/full_team/team_full_2021_2022.jpg" class="big-image"/>
</section>

<section id="members">
  <h1>Executive Board</h1>
  <div class="division" style="margin-bottom:30px"></div>
  <div class="exec_board_cont">
    {% include member_tiles.html %}

    <p style="font-size:24px;max-width:1000px;margin:0 auto 70px auto;">
    Learn more about our executive board <a href="members.html#exec">here</a>.
    </p>
  </div>
</section>

<a class="anchor" id="projects"></a>
<section id="whatwedo">
  <h1>Projects</h1>
  <div class="division"></div>
  <div class="projects_cont">
   <!--
      <div class="project">
      <a href="nasa_rmc.html">
        <img src="res/nasa_rmc/nasarmc.png"/>
        <div class="project_txt"><b>NASA Robotic Mining Competition</b></div>
      </a>
    </div> -->
    <div class="project">
      <a href="mate_rov.html">
        <img src="res/mate_rov/ROV_24.jpg" class="hoverable-image"/>
        <div class="project_txt"><b>MATE ROV Competition</b></div>
      </a>
    </div>
    <div class="project">
      <a href="nrc.html">
        <img src="res/nrc/nrc.png" class="hoverable-image"/>
        <div class="project_txt"><b>National Robotics Challenge</b></div>
      </a>
    </div>
    <div class="project">
      <a href="bootcamp.html">
        <img src="res/bootcamp/bootcamp.jpg" class="hoverable-image"/>
        <div class="project_txt"><b>Member Education Bootcamp</b></div>
      </a>
    </div>
  </div>
</section>

<!-- RECENT BLOG TILE -->
<a class="anchor" id="blog"></a>
<section id="blog_index">
  <h1>Blog</h1>
  <div class="division"></div>
  <div class="rec_blog_cont">
    <div class="rec_blog">
      <a class="rec_blog_link" href="{{site.categories.blog[0].url}}">
        <p class="rec_blog_title">{{site.categories.blog[0].title}}</p>
        <p class="rec_blog_date"></p>
        <img class="rec_blog_img hoverable-image" src="{{site.categories.blog[0].imgurl}}"/>
        <p class="rec_blog_text">{{site.categories.blog[0].subhead}}</p>
      </a>
    </div>
    <a href="/blogs.html">
      <p class="rec_blog_title">
        View All Blog Posts
      </p>
    </a>
  </div>
</section>

<!-- SPONSORSHIP -->
<a class="anchor" id="sponsorship"></a>
<section id="sponsors">
  <h1>Sponsors</h1>
  <div class="division"></div>
  <div class="sponsors_cont">

    {% for sponsor in site.data.sponsors %}
    <a href="{{sponsor.link}}" target="_blank" class="sponsor">
      <img src="{{sponsor.image}}" alt="{{sponsor.alt}}" class="hoverable-image">
    </a>
    {% endfor %}

  </div>
  <a href="sponsorship.html">
    Interested in sponsoring?
  </a>
</section>

<a class="anchor" id="contact"></a>
