---
layout: default
stylesheets : [members]
---

<div id="members">
    <a class="anchor" id="exec"></a>
    <h1>Executive Board Biographies</h1>
    <div class="division"></div>
    <p class="text-block">
        {% for member in site.data.members %}
        {% if member.exec %}
        <div class="member">
            <img src="{{member.imgurl}}"/>
            <p class="member-name">{{member.name}} - {{member.position}}</p>
            <p class="bio" style="max-width:1200px;margin:0 auto 70px auto;">{{member.bio}}</p>
        </div>
        <br />
        {% endif %}
        {% endfor %}
    </p>
</div>