<div id="footer">
  <ul>
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}

    <!-- <li id="github">
      <a href="https://github.com/cwruRobotics" target="_blank">
        <img alt="GitHub" src="res/footer/github-logo.svg" />
      </a>
    </li> -->
    <li id="facebook">
      <a href="https://www.facebook.com/cwrurobotics" target="_blank">
        <img alt="Facebook" src="res/footer/facebook-logo.svg" />
      </a>
    </li>
    <li id="instagram">
      <a href= "https://www.instagram.com/cwrubotix/" target="_blank">
        <img alt="Instagram" src="res/footer/instagram-icon.jpg" />
      </a>
    </li>
    <!-- <li id="twitter">
      <a href="https://twitter.com/cwrubotix" target="_blank">
        <img alt="Twitter" src="res/footer/twitter-logo.svg" />
      </a>
    </li> -->
    <li id="youtube">
      <a href="https://www.youtube.com/channel/UCFxYzjLEY09YFLx_UKSINIw" target="_blank">
        <img alt="YouTube" src="res/footer/youtube-icon.svg" />
      </a>
    </li>
    <li id="email">
      <a href="mailto:{{ site.email }}">
        <img alt="Email" src="res/footer/email-icon.svg" />
      </a>
    </li>
  </ul>
  <p id="copyright">
    Copyright © 2020 CWRUbotix
  </p>
</div>
