{% for video in site.data.videos %}
    {% if video.category == "hardware" %}
        <div style="text-align:center;">
            <p class="subhd">{{video.date}}</p>
            <div>
                <iframe style="vertical-align: top;" width="560" height="315" src="https://www.youtube.com/embed/{{video.youtube_id}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <p style="display: inline-block; width: 30%; vertical-align: top; margin: 0 2%; text-align: left; font-size: 1.25em;">{{video.description}}</p>
            </div>
        </div>
    {% endif %}

{% endfor %}