<ul id="nav">
    <img id="nav_logo" src="/res/logo.svg"/>
    <div class="nav_title">
      <p id="nav_name"><b>CWRUbotix</b></p>
      <p id="nav_desc">Case Western Reserve University's Robotics Team</p>
    </div>
    <li><a href="/index.html#main">Home</a></li>
    <li class="dropdown">
      <a class="dropbtn" href="/index.html#team">Members</a>
      <div class="dropdown-content">
        <a href="/education/">Education</a>
      </div>
    </li>
	  <li class="dropdown">
      <a class="dropbtn" href="/index.html#projects">Projects</a>
      <div class="dropdown-content">
        <a href="/nasa_rmc.html">NASA RMC</a>
        <a href="/mate_rov.html">MATE ROV</a>
        <a href="/nrc.html">NRC</a>
      </div>
    </li>
    <li><a href="/blogs.html">Blogs</a></li>
    <li class="dropdown">
      <a class="dropbtn" href="/index.html#contact">Contact</a>
      <div class="dropdown-content">
        <a href="/index.html#sponsorship">Sponsorship</a>
      </div>
    </li>
    <li><a href="/calendar.html">Events</a></li>
  </ul>
  <script src="/js/navbar.js"></script>
