<ul id="nav">
    <img id="nav_logo" src="/res/logo.svg"/>
    <div class="nav_title">
      <p id="nav_name"><b>CWRUbotix</b></p>
      <p id="nav_desc">Case Western Reserve University"s Robotics Team</p>
    </div>
    <li><a href="/index.html#main">Home</a></li>
    <li><a href="/index.html#team">Members</a></li>
	  <li><a href="/index.html#projects">Projects</a></li>
    <li><a href="/blogs.html">Blog</a></li>
	  <li><a href="/index.html#sponsorship">Sponsorship</a></li>
    <li><a href="/calendar.html">Events</a></li>
    <li><a href="/index.html#contact">Contact</a></li>
  </ul>
  <script src="/js/navbar.js"></script>