<h1>2024</h1>
<div class="subproj_cont">
{% for post in site.categories.nrc_project_2024 %}
    <div class="subproj">
        <a href="{{post.url}}">
            <img src="{{post.imgurl}}"/>
            <span class="subproj_txt"><b>{{post.subhead}}</b></span>
        </a>
    </div>
{% endfor %}
</div>

<h1>2023</h1>
<div class="subproj_cont">
{% for post in site.categories.nrc_project_2023 %}
    <div class="subproj">
        <a href="{{post.url}}">
            <img src="{{post.imgurl}}"/>
            <span class="subproj_txt"><b>{{post.subhead}}</b></span>
        </a>
    </div>
{% endfor %}
</div>

<h1>2022</h1>
<div class="subproj_cont">
{% for post in site.categories.nrc_project_2022 %}
    <div class="subproj">
        <a href="{{post.url}}">
            <img src="{{post.imgurl}}"/>
            <span class="subproj_txt"><b>{{post.subhead}}</b></span>
        </a>
    </div>
{% endfor %}
</div>

<h1>2018</h1>
<div class="subproj_cont">
{% for post in site.categories.nrc_project_2018 %}
    <div class="subproj">
        <a href="{{post.url}}">
            <img src="{{post.imgurl}}"/>
            <span class="subproj_txt"><b>{{post.subhead}}</b></span>
        </a>
    </div>
{% endfor %}
</div>

<h1>2017</h1>
<div class="subproj_cont">
{% for post in site.categories.nrc_project_2017 %}
    <div class="subproj">
        <a href="{{post.url}}">
            <img src="{{post.imgurl}}"/>
            <span class="subproj_txt"><b>{{post.subhead}}</b></span>
        </a>
    </div>
{% endfor %}
</div>

<h1>2016</h1>
<div class="subproj_cont">
{% for post in site.categories.nrc_project_2016 %}
    <div class="subproj">
        <a href="{{post.url}}">
            <img src="{{post.imgurl}}"/>
            <span class="subproj_txt"><b>{{post.subhead}}</b></span>
        </a>
    </div>
{% endfor %}
</div>

<h1>2015</h1>
<div class="subproj_cont">
{% for post in site.categories.nrc_project_2015 %}
    <div class="subproj">
        <a href="{{post.url}}">
            <img src="{{post.imgurl}}"/>
            <span class="subproj_txt"><b>{{post.subhead}}</b></span>
        </a>
    </div>
{% endfor %}
</div>